@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

* {
    font-family: "Maven Pro", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f9f9f9;
}

img {
    width: 100%;
}


/* hero section */

.hero-sec {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../imgs/Gifs/water\ 1.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;

    padding: 2rem;

    overflow-x: hidden;
}

.hero-sec::after {
    content: "";

    width: 100%;
    aspect-ratio: 10220 / 1200;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    background-image: url("../imgs/pngs/top\ wave.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    overflow-x: hidden;
}


.hero-sec .top {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu-box a {
    color: #fff;
    text-decoration: none;

    font-weight: 600;
}

.hero-sec .middle {
    width: 60%;
}

.hero-sec .bottom {
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-sec .bottom p {
    text-align: center;
    line-height: 1.8;
    letter-spacing: 1.5px;

    font-weight: 500;
}

.enq-btn {
    background: none;
    border: 1px solid #fff;
    border-radius: 30px;
    outline: none;

    padding: 1rem 2rem;

    font-size: 1.2rem;
    font-weight: 600;
}

.btm-wave {
    width: 100%;
    aspect-ratio: 10220 / 1200;
}

/* overview */

.overview-sec{
    background-color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3rem;
}

.overview-sec .top {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overview-sec .middle {
    width: 70%;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1.2px;
}

.overview-sec .bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 4rem;

    width: 70%;
}

.overview-sec .bottom .img-box {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*   emi cal css  */
/* .emi-calculator {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.slider-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    border: 2px solid #333;
    cursor: pointer;
    transition: transform 0.3s;
}

input[type="range"]:hover::-webkit-slider-thumb {
    transform: scale(1.2);
}

.emi-result {
    text-align: center;
    margin-top: 20px;
}

.emi-result h3 {
    font-size: 16px;
}

.emi-result p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
} */
/*   emi cal css  */