@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

* {
    font-family: "Maven Pro", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


/* hero section */

.hero-sec {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../imgs/Gifs/water\ 1.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;

    padding: 2rem;

    overflow-x: hidden;
}

.hero-sec::after,
.overview-sec::after,
.heading::after,
.price-sec::after {
    content: "";

    width: 100%;
    aspect-ratio: 10220 / 1200;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    background-image: url("../imgs/pngs/top\ wave.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    overflow-x: hidden;
}


.hero-sec .top {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu-box a {
    color: #fff;
    text-decoration: none;

    font-weight: 600;
}

.hero-sec .middle {
    width: 60%;
}

.hero-sec .bottom {
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-sec .bottom p {
    text-align: center;
    line-height: 1.8;
    letter-spacing: 1.5px;

    font-weight: 500;
}

.enq-btn {
    background: none;
    border: 1px solid #fff;
    border-radius: 30px;
    outline: none;

    padding: 1rem 2rem;

    font-size: 1.2rem;
    font-weight: 600;
}

.btm-wave {
    width: 100%;
    aspect-ratio: 10220 / 1200;
}

/* overview */

.overview-sec {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3rem;

    position: relative;
}

.overview-sec .top {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overview-sec .middle,
.location-sec .middle,
.plan-sec .middle {
    width: 70%;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1.2px;
}

.overview-sec .bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 4rem;

    width: 70%;
}

.overview-sec .bottom .img-box {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.overview-sec .enq-btn,
.location-sec .enq-btn {
    border: 1px solid #000;
}

.btm-wave-2 {
    width: 100%;
    aspect-ratio: 1440 / 313;
}

.overview-sec::after {
    background-image: url("../imgs/Gifs/riverin-wave-gif.gif");
    aspect-ratio: 1440 / 313;
}

/* location-sec */

.location-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3rem;

    position: relative;

    padding: 4rem 2rem;
}

.heading {
    font-size: 2vw;
    font-weight: 500;

    padding-bottom: 2rem;

    position: relative;
}

.heading::after {
    width: 10rem;
    aspect-ratio: 974 / 57;
    background-image: url("../imgs/pngs/Underline wave 3.png");
    left: 50%;
    transform: translateX(-50%);
}

.location-sec .bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 4rem;

    width: 70%;
}

.location-sec .bottom iframe {
    width: 100%;
}

/* plan section */

.plan-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3rem;

    position: relative;

    padding: 4rem 0;
}

.plan-sec .middle {
    font-size: 1.8vw;
    font-weight: 500;
}

.plan-sec .bottom {

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 3rem;

    background-image: url("../imgs/Gifs/riverin-wave-gif_1.gif");
    background-color: #e1f4fd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 6rem 4rem;

}

.plan-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 20rem;

    gap: 1rem;

    padding: 1.5rem;

    background: #fff;

    border-radius: 20px;
}



/*   emi cal css  */

.price-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3rem;

    position: relative;

    padding: 4rem 0;
}

.price-sec .middle {
    display: flex;
    justify-content: center;
    align-items: start;

    gap: 3rem;

    width: 100%;
}

.pricing-table {
    width: 90%;
    max-width: 400px;
    overflow: hidden;
    background-color: #fff;
}

.pricing-header {
    background-color: #39a9dc;
    color: #fff;
    text-align: left;
    padding: 10px 15px;
    font-weight: bold;
}

.pricing-body {
    padding: 15px;
    border: 1px solid #e0e0e0;
}

.pricing-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.pricing-row:last-child {
    border-bottom: none;
}

.pricing-type {
    font-weight: 500;
}

.pricing-price {
    color: #333;
    font-weight: bold;
}

.additional-info {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
}

@media (max-width: 480px) {
    .pricing-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .pricing-price {
        margin-top: 5px;
    }
}

.emi-calculator {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.emi-calculator h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.slider-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    border: 2px solid #333;
    cursor: pointer;
    transition: transform 0.3s;
}

input[type="range"]:hover::-webkit-slider-thumb {
    transform: scale(1.2);
}

.emi-result {
    text-align: center;
    margin-top: 20px;
}

.emi-result h3 {
    font-size: 16px;
}

.emi-result p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/*   emi cal css  */

.price-sec::after {
    background-image: url("../imgs/pngs/down\ wave.png");
}

.gallery-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    /* padding: 4rem 0; */

    margin-top: -4rem;
}

.g-box {

    width: 100%;
    aspect-ratio: 2099 / 900;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4rem;
    font-weight: 700;
    color: #fff;

    overflow: hidden;

    position: relative;


}

.g-box img {

    width: 120%;
    aspect-ratio: 2099 / 1428;
    object-fit: cover;

    position: absolute;

    top: 0;

}

.g-box-1 {
    /* background-image: url("../imgs/Images/755610157_edit\ 1\ 2.jpg");
    background-color: #33333333; */
}

.g-box-2 {
    /* background-image: url("../imgs/Images/181736171.jpg"); */
}

.g-box-3 {
    /* background-image: url("../imgs/Images/DPPS_536771614.jpg"); */
}

.g-box-4 {
    /* background-image: url("../imgs/Images/35815151.jpg"); */
}